.logout {
    padding: 12px 16px;
    width: 224px;
    border: none;
  
    background: rgba(255, 255, 255, 0.08);
    opacity: 0.75;
  
    a {
      display: flex;
      align-items: center;
      gap: 15px;
      color: #fff;
    }
  }
  