.register-container {
  display: flex;
  width: 100%;
  background: #fbfaff;
  border-radius: 32px 0 0 0;
  margin-top: 4px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.register-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container .content > div {
  width: 100%;
  max-width: 380px;
}
.register-container .content > div h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}
.register-container .content > div p {
  font-size: 18px;
  color: #737380;
  line-height: 20px;
}
.register-container .content form {
  width: 100%;
  max-width: 800px;
}
.register-container .content form input {
  margin-top: 10px;
  padding-left: 15px;
}
.register-container .content form .input-group {
  display: flex;

  gap: 10px;
}
