.container-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .content-form {
    width: 100%;
    max-width: 600px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

    h1 {
      font-size: 25px;
      margin-bottom: 30px;
    }

    form {
      width: 100%;
      max-width: 450px;

      .input-group {
        &:first-child {
          margin-bottom: 25px;
        }

        & > input,
        .password-input {
          width: 100%;
          height: 60px;
          border: 1px solid #4b5768;
          border-radius: 8px;
          margin-top: 8px;
          padding: 0 24px;
        }
        .password-input {
          display: flex;
          align-items: center;
          background: #ffffff;

          input {
            border: none;
            width: 100%;
            height: 100%;
          }

          span {
            cursor: pointer;
          }
        }
      }
    }
  }

  button {
    background: var(--primary-color);
    font: 700 18px Inter, sans-serif;
    color: #ffffff;
  }
}
