.register-container {
  display: flex;
  width: 100%;
  background: #fbfaff;
  border-radius: 32px 0 0 0;
  margin-top: 4px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.register-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container .content > div {
  width: 100%;
  max-width: 380px;
}
.register-container .content > div h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}
.register-container .content > div p {
  font-size: 18px;
  color: #737380;
  line-height: 20px;
}
.register-container .content form {
  width: 100%;
  max-width: 800px;
}
.register-container .content form input {
  margin-top: 10px;
  padding-left: 15px;
}
.register-container .content form .input-group {
  display: flex;

  gap: 10px;
}
.textarea-traveler {
  width: 100%;
  min-height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  margin-top: 5px;
  resize: none;
  line-height: 16px;
}

.register-container .content form input[type="file"] {
  margin-top: 10px;
  padding-left: 15px;
  background-color: #f0f0f5;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #737380;
}

.register-container .content form input[type="file"]::placeholder {
  color: #070707;
}

.register-container .content form input[type="file"]:focus {
  outline: none;
  border-color: #8e4dff;
  box-shadow: 0 0 0 3px rgba(142, 77, 255, 0.2);
}

.register-container
  .content
  form
  input[type="file"]::-webkit-file-upload-button {
  background: #8e4dff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.register-container
  .content
  form
  input[type="file"]::-webkit-file-upload-button:hover {
  background: #6c36c5;
}

.register-container
  .content
  form
  input[type="file"]::-webkit-file-upload-button:active {
  background: #531faa;
}

.logo-user-register img {
  width: 350px;
}
